* {
    box-sizing: border-box;
  }
   
   /* html,body {
    font-family: 'Montserrat', sans-serif;
     font-size-adjust: u; 
    display: flex; 
     width: 100%;
    height: 100%;
    background: #eeeeee;
    justify-content: center;
    align-items: center; 
   } */
    .container{
        font-family: 'Montserrat', sans-serif;
     /* font-size-adjust: u;  */
    display: flex; 
    justify-content: space-evenly;
     width: 100%;
    height: 100%;
    border-color: #000000 !important;
    /* background: #eeeeee; */
    /* justify-content: center;
    align-items: center;  */
    }
  .checkout-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 940px;
    height: 766px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
    border-color: #000000 !important;
  }
  .paymentDetails{
    padding: 65px 80px 0;
    flex: 1;
    background-color: #e6e3fb;
  }
  .details{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
    /* align-items: center; */
  }
  .panel-body {
    padding:  80px 0;
    flex: 1;
  }
   
  .title {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 40px;
    color: #2e2e2e;
  }
  .progress-bar {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
  }
   
  .step {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    display: block;
    width: 25px;
    height: 25px;
    margin-bottom: 30px;
    border: 4px solid #fff;
    border-radius: 50%;
    background-color: #efefef;
  }
   
  .step:after {
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 22px;
    width: 225px;
    height: 6px;
    content: '';
    background-color: #efefef;
  }
   
  .step:before {
    color: #2e2e2e;
    position: absolute;
    top: 40px;
  }
   
  .step:last-child:after {
    content: none;
  }
   
  .step.active {
    background-color: #1abc9c;
  }
  .step.active:after {
    background-color: #1abc9c;
  }
  .step.active:before {
    color: #1abc9c;
  }
  .step.active + .step {
    background-color: #1abc9c;
  }
  .step.active + .step:before {
    color: #1abc9c;
  }
   
  .step:nth-child(1):before {
    content: 'Cart';
  }
  .step:nth-child(2):before {
    right: -40px;
    content: 'Confirmation';
  }
  .step:nth-child(3):before {
    right: -30px;
    content: 'Payment';
  }
  .step:nth-child(4):before {
    right: 0;
    content: 'Finish';
  }
  .payment-method {
    display: flex;
    margin-bottom: 60px;
    justify-content: space-between;
  }
   
  .method {
    display: flex;
    flex-direction: column;
    width: 382px;
    height: 122px;
    padding-top: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: rgb(249, 249, 249);
    justify-content: center;
    align-items: center;
  }
   
  .card-logos {
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
  }
   
  .radio-input {
    margin-top: 20px;
  }
   
  input[type='radio'] {
    display: inline-block;
  }
  .input-fields {
    display: flex;
    justify-content: space-between;
  }
   
  .input-fields label {
    display: block;
    margin-bottom: 10px;
    color: #000000;
  }
   
  .info {
    font-size: 12px;
    font-weight: 300;
    display: block;
    margin-top: 50px;
    opacity: .5;
    color: #2e2e2e;
  }
   
  div[class*='column'] {
    width: 382px;
  }
   
  input[type='text'],
  input[type='password'] {
    font-size: 16px;
    width: 100%;
    height: 50px;
    padding-right: 40px;
    padding-left: 16px;
    color: rgba(46, 46, 46, .8);
    border: 1px solid rgb(225, 225, 225);
    border-radius: 4px;
    outline: none;
  }
   
  input[type='text']:focus,
  input[type='password']:focus {
    border-color: #F5EFFF;
  }
   
  #date { background: url(img/icons_calendar_black.png) no-repeat 95%; }
  #cardholder { background: url(img/icons_person_black.png) no-repeat 95%; }
  #cardnumber { background: url(img/icons_card_black.png) no-repeat 95%; }
  #verification { background: url(img/icons_lock_black.png) no-repeat 95%; }
   
  .small-inputs {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
  }
   
  .small-inputs div {
    width: 182px;
  }
  .panel-footer {
    display: flex;
    width: 100%;
    height: 96px;
    padding: 10px 80px;
    background-color: white;
    
    justify-content: space-between;
    align-items: center;
  }
  .btn {
    font-size: 16px;
    width: 163px;
    height: 48px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    letter-spacing: 1px;
    border: none;
    border-radius: 23px;
    
  }
   
  .back-btn {
    color: #1abc9c;
    background: #F5EFFF ;
  }
   
  .next-btn {
    color: #fff;
    background: #e6e3fb !important;
  }
   
  .btn:focus {
    outline: none;
  }
   
  .btn:hover {
    transform: scale(1.1);
    background: #9689e7 !important;
  }
  .blue-border {
    border: 1px solid rgb(110, 178, 251);
  }
  .warning {
    border-color: #1abc9c;
  }

  .page-header {
    background: url(background.jpg) top center no-repeat;
    background-size: cover;
    text-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}

/*** Footer ***/
.footer{
  background-color: #FBF9FF;
}
.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid #FFFFFF;
  transition: .3s;
}

.footer .btn.btn-social:hover {
  color: #A294F9;
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #000000;
  font-size: 15px;
  font-weight: normal;
  text-decoration: none;
  text-transform: capitalize;
  transition: .3s;
}

.footer .btn.btn-link::before {
  text-decoration: none;
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
  color: #000000;
}

.footer .btn.btn-link:hover {
  color: white;
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .copyright a:hover {
  color: #A294F9;
}
.footerlogo{
  width:40%;
  margin-bottom: 20px;
}
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 140px 0 60px 0;
  min-height: 30vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.breadcrumbs:before {
  content: "";
  /* background-color: rgba(0, 0, 0, 0.6); */
  position: absolute;
  inset: 0;
}

.breadcrumbs h2 {
  font-size: 56px;
  font-weight: 500;
  color: #fff;
  font-family: var(--font-secondary);
}
