
@section Styles {
    <link rel="stylesheet" href="~/css/About.css" />

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

}


@section Scripts {
    <script src="~/js/site.js"></script>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>
}

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs d-flex align-items-center" style=" background-color: #e6e3fb !important; ">
            <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

                <h2>About</h2>

            </div>
        </div><!-- End Breadcrumbs -->
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="row position-relative">

                <div class="col-lg-7 about-img" style="background-image: url('../img/Veterinary physician with assistant.jpg');"></div>
                    <div class="col-lg-7">
                        <h2>PetNet!</h2>
                        <div class="our-story" style="background-color:#edebfb">
                            <h4>Est 1988</h4>
                            <h3>Born from Love: Our Story !</h3>
                            <p>
                                Founded with a passion for animal welfare, PetNet aims to make pet care accessible and convenient for everyone.
                                We understand that your pets are family, and we are dedicated to ensuring they receive the best care possible.
                            </p>
                            <ul>
                                <li><i class="bi bi-check-circle"></i> <span>Simplifying the process of finding and booking trusted clinics for your pet’s needs.</span></li>
                                <li><i class="bi bi-check-circle"></i> <span>24/7 online consultations to ensure care anytime, anywhere.</span></li>
                                <li><i class="bi bi-check-circle"></i> <span>Partnering with top veterinarians to deliver quality care.</span></li>
                            </ul>
                            <p>
                                We work to
                                Providing seamless access to trusted veterinary care, ensuring pets live happier and healthier lives.
                            </p>


                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End About Section -->
        <!-- ======= Stats Counter Section ======= -->
        <section id="stats-counter" class="stats-counter section-bg" style="background-color: #edebfb;">
            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item d-flex align-items-center w-100 h-100">
                            <i class="bi bi-emoji-smile color-blue flex-shrink-0" style="color: #A294F9;"></i>
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                                      class="purecounter"></span>
                                <p>Happy Clients</p>
                            </div>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item d-flex align-items-center w-100 h-100">
                            <i class="bi bi-journal-richtext color-orange flex-shrink-0" style="color: #A294F9;"></i>
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                                      class="purecounter"></span>
                                <p>Clinics</p>
                            </div>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item d-flex align-items-center w-100 h-100">
                            <i class="bi bi-headset color-green flex-shrink-0" style="color: #A294F9;"></i>
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1"
                                      class="purecounter"></span>
                                <p>Hours Of Support</p>
                            </div>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item d-flex align-items-center w-100 h-100">
                            <i class="bi bi-people color-pink flex-shrink-0" style="color: #A294F9;"></i>
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
                                      class="purecounter"></span>
                                <p>Hard Workers</p>
                            </div>
                        </div>
                    </div><!-- End Stats Item -->

                </div>

            </div>
        </section><!-- End Stats Counter Section -->
    <!-- ======= Alt Services Section ======= -->
    <section id="alt-services" class="alt-services">
        <div class="container" data-aos="fade-up">
           
            <div class="row justify-content-around gy-4">
                <div class="col-lg-6 img-bg" style="background-image:url('../img/_Care\ in\ Every\ Gaze_\ A\ Veterinarian\'s\ Love\ for\ Animals\ 🐾🩺_.jpg');" data-aos="zoom-in"
                     data-aos-delay="100"></div>

                <div class="col-lg-5 d-flex flex-column justify-content-center">
                    <h3>WHY CHOOSE PETNET?</h3>
                    <p>providing your pet with a safe and fun experience</p>

                    <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
                        <i class="fa-solid fa-user-doctor"></i>
                        <div>
                            <h4><a href="" class="stretched-link">Expert Care</a></h4>
                            <p>Access top veterinarians with years of experience to ensure your pet receives the best treatment.</p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
                        <i class="fa-regular fa-calendar-check"></i>
                        <div>
                            <h4><a href="" class="stretched-link">Convenient Booking:</a></h4>
                            <p>Easily schedule appointments with clinics and centers in your area, saving you time and effort.</p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
                        <i class="fa-solid fa-comment-dots"></i>
                        <div>
                            <h4><a href="" class="stretched-link"> Online Consultations</a></h4>
                            <p>Receive professional advice from the comfort of your home, making it easy to get the help you need.</p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
                        <i class="fa-solid fa-taxi"></i>
                        <div>
                            <h4><a href="" class="stretched-link">Pet Taxi Service</a></h4>
                            <p>Enjoy the convenience of a taxi service that picks up and returns your pet to your home.</p>
                        </div>
                    </div><!-- End Icon Box -->

                </div>
            </div>

        </div>
    </section><!-- End Alt Services Section -->
        <!-- ======= Our Team Section ======= -->
        <section id="team" class="team">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>Our Team</h2>
                    <!-- <p>Aperiam dolorum et et wuia molestias qui eveniet numquam nihil porro incidunt dolores placeat sunt id nobis
                      omnis tiledo stran delop</p> -->
                </div>

                <div class="row gy-5">

                    <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
                        <div class="member-img">
                        <img src="~/Img/team-1.jpg" class="img-fluid" alt="">
						<div class="social">
							
                                <a href="#"><i class="bi bi-twitter"></i></a>
                                <a href="#"><i class="bi bi-facebook"></i></a>
                                <a href="#"><i class="bi bi-instagram"></i></a>
                                <a href="#"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info text-center">
                            <h4> Dr. Kareem </h4>
                            <span>Chief Veterinary Officer</span>
                            <p>
                                With over 15 years of experience in veterinary medicine, Dr. Collins oversees the quality of care provided by our platform. he is passionate about ensuring every pet receives the best treatment possible.
                            </p>
                        </div>
                    </div><!-- End Team Member -->



                    <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
                        <div class="member-img">
                        <img src="~/Img/team-3.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href="#"><i class="bi bi-twitter"></i></a>
                                <a href="#"><i class="bi bi-facebook"></i></a>
                                <a href="#"><i class="bi bi-instagram"></i></a>
                                <a href="#"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info text-center">
                            <h4>Jad Martinez</h4>
                            <span>CTO</span>
                            <p>A lifelong animal lover and tech enthusiast, John founded this platform to bridge the gap between pet owners and veterinary care using innovative solutions.</p>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="400">
                        <div class="member-img">
                        <img src="~/Img/team-4.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href="#"><i class="bi bi-twitter"></i></a>
                                <a href="#"><i class="bi bi-facebook"></i></a>
                                <a href="#"><i class="bi bi-instagram"></i></a>
                                <a href="#"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info text-center">
                            <h4>Sarah Lee</h4>
                            <span>Customer Experience Manager</span>
                            <p>Sarah is dedicated to making every user’s experience seamless and enjoyable. She leads our support team to ensure your concerns are addressed promptly.</p>
                        </div>
                    </div><!-- End Team Member -->



                </div>

            </div>
        </section><!-- End Our Team Section -->




    </main><!-- End #main -->




